body {

	color: black;
	background-size: cover;
}
.video-frame{
	margin-top:199px; 
}

iframe {
	margin-left: 356px;
}

.nav-bar{
	position: fixed;
	background-color: blue;
	width: 100%;
	z-index:1;
	height: 50px;
}

.nav-bar li{
	list-style: none;
	color: white;
	display: inline-block;
	margin-top: 15px;
	margin-right: 20px;
}

.first-content {
	padding-top:100px;
}

.img-center{
	margin:0 auto;
	display:block;
}